body {
	-webkit-transition:background 4s;
	-moz-transition:background 4s;
	-o-transition:background 4s;
	transition:background 4s
	}
.frame {width:300px; margin:0 auto;}
.calculator {background-color:#DED7D7; border-radius:10px; margin:20px; margin-bottom:50px;
	-webkit-box-shadow: inset -2px -2px 25px -9px rgba(51, 51, 51, 2), 2px 2px 18px 0px #333333;
	-moz-box-shadow: inset -2px -2px 25px -9px rgba(51, 51, 51, 2), 2px 2px 18px 0px #333333;
	-o-box-shadow: inset -2px -2px 25px -9px rgba(51, 51, 51, 2), 2px 2px 18px 0px #333333;
	-ms-box-shadow: inset -2px -2px 25px -9px rgba(51, 51, 51, 2), 2px 2px 18px 0px #333333;
	box-shadow: inset -2px -2px 25px -9px rgba(51, 51, 51, 2), 2px 2px 18px 0px #333333;}

.button {background-color:#425651; border-radius:5px; text-align:center; 
	vertical-align:middle; width:40px; height:40px; color:white; 
	font-color: white; font-family:monospace; font-weight:bold;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-{prefix}-user-select: none;
	-webkit-touch-callout: none;
	box-shadow:0.5px 0.5px 0px 1px #33423E;
	-webkit-box-shadow:0.5px 0.5px 0px 1px #33423E;
	-moz-box-shadow:0.5px 0.5px 0px 1px #33423E;
	-o-box-shadow:0.5px 0.5px 0px 1px #33423E;
	-ms-box-shadow:0.5px 0.5px 0px 1px #33423E;
	}
.button:hover {cursor:pointer; background-color:#485E59;}
.button:active {background-color:#3C4F4B;}
.button.eq {background-color:#C4C4C4; color:black; font-size:130%;
	box-shadow:0.5px 0.5px 0px 1px #B3B3B3;
	-webkit-box-shadow:0.5px 0.5px 0px 1px #B3B3B3;
	-moz-box-shadow:0.5px 0.5px 0px 1px #B3B3B3;
	-o-box-shadow:0.5px 0.5px 0px 1px #B3B3B3;
	-ms-box-shadow:0.5px 0.5px 0px 1px #B3B3B3;}
.button.eq:hover {background-color:#CCCCCC;}
.button.eq:active {background-color:#B3B3B3;}
.button.del {background-color:#884745;
	box-shadow:0.5px 0.5px 0px 1px #6E3937;
	-webkit-box-shadow:0.5px 0.5px 0px 1px #6E3937;
	-moz-box-shadow:0.5px 0.5px 0px 1px #6E3937;
	-o-box-shadow:0.5px 0.5px 0px 1px #6E3937;
	-ms-box-shadow:0.5px 0.5px 0px 1px #6E3937;}
.button.del:hover {background-color:#6E3937;}
.button.del:active {background-color:#542B2A;}

.button.sci {background-color:#EEEEEE;
	box-shadow:0.5px 0.5px 0px 1px #4B4B4B;
	-webkit-box-shadow:0.5px 0.5px 0px 1px #4B4B4B;
	-moz-box-shadow:0.5px 0.5px 0px 1px #4B4B4B;
	-o-box-shadow:0.5px 0.5px 0px 1px #4B4B4B;
	-ms-box-shadow:0.5px 0.5px 0px 1px #4B4B4B;
	color:black; font-size:80%; height:2em;}
.button.sci:hover {background-color:#F0F0F0;}
.button.sci:active {background-color:#D4D4D4;}

.buttons.sci table {background-color:#F4F4F4; border-radius:5px; display:none;}
.buttons.sci .button {background-color:#555991; height:30px;}
.buttons.sci .button:hover {background-color:#5E62A1;}
.buttons.sci .button:active {background-color:#4D5185;}

.screen textarea {width:100%; height:4em; background-color:#E2E9BA; 
	border-radius:3px; overflow:auto; text-align:right; font-family:monospace;
	-webkit-transition:background 2s;
	-moz-transition:background 2s;
	-o-transition:background 2s;
	transition:background 2s}
.cite {font-style:italic; color:#736F6F; font-size:70%; text-decoration:none;}
.cite a {color:#736F6F; text-decoration:none;}
.cite a:hover {color:#4A4747; text-decoration:underline;}
.solar {padding:10px; text-align:right;}
.solar div {background-color:#4A4747; width:20px; height:20px; 
	display:inline-block; border:1px solid #333131; border-radius:1px;}
.solar div:last-child {border-radius:1px 3px 3px 1px}
.solar div:first-child {border-radius:3px 1px 1px 3px}
.help {display:none; background-color:#FCFFBE; border:1px dashed #DEE734; border-radius: 1em; font-family:sans-serif; font-size:80%; text-align:left; padding:10px;}
h2 {color:#2F2F2F; font-family:sans-serif; text-align:left; text-decoration:none; font-size:100%; margin-left:20px;}
a h2 {text-decoration:underline;}
a h2:hover {color:blue; text-decoration:underline; cursor:pointer;}
.help p {color:#2F2F2F;}
.ans_links {font-size:70%; color:blue; width:100%; position:relative; top:-1.3em; text-align:right; visibility:hidden;}
.ans_links a:hover {cursor:pointer; text-decoration:underline;}
.ans_links a {margin-right:10px;}
.ans_value {font-size:70%; float:right; color:#736F6F; display:none;}
